/*MISC*/
	html,body{
		background: #333;
		min-height: 100%;
		padding: 0;
		margin: 0;
		font-family: 'Nunito', sans-serif;
	}

	.pull-right{
		float:right;
	}

	footer{
		background-color: #333;
		padding-top:20px;
		padding-bottom: 40px;
		text-align: center;
		width: 100%;
		color: #A5A5A5;
	}


/*NAV*/

	nav{
		padding-top: 20px;
		border-bottom: 6px solid #4C9859;
		padding-bottom: 12px;
	}
	nav a{
		text-decoration: none;
		color:black;
		margin-right: 4%;
	}

	nav form{
	    border: 1px solid #CBCBCB;
	    padding: 2px;
	    border-radius: 4px;
	}

	nav input, nav input:focus{
		border:none;
		outline: none;
		padding-left: 15px;
		padding-bottom: 3px;
	}

	nav button{
		border:none;
		background: none;
	}

	nav h2{
		font-weight: bold;
		letter-spacing: 2px;
	}


/*LETTERS*/
	#flavor{
		width: 100%;
		margin:auto;
		text-align: center;
		margin-bottom: 40px;
	}

	#letters{
		width: 100%;
		text-align: center;
	}

	.letter{
		display: inline-block;
		cursor: pointer;
		font-size: 9em;
		font-weight: bold;
	}

	.letter-block{
		display: inline-block;
	}

	.triangle{
		margin: auto;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid #D9E2DB;
		display: none;
	}


/*BOX*/

	#tag-block{
		color:#333;
		background: #D9E2DB;
		display: none;
		padding-top: 20px;
		padding-bottom: 50px;
	}

	#close{
		font-size: 2em;
		cursor: pointer;
	}

	#tag-header{
		text-transform: uppercase;
		font-size: 1.6em;
	    font-weight: bold;
	    letter-spacing: 2px;
	    margin-bottom: 30px;
	}

	#view-more{
		text-decoration: underline;
	    margin-top: 30px;
	    display: block;
	    color: #333;
	}

	/*squares*/
	.square{
		background: #333;
		color: white;	
		height: 220px;
		width: 100%;
		padding: 20px;
		display: inline-block;
		cursor: pointer;
		transition: .3s;
	    box-shadow: 1px 1px 3px black;
	}

	.square:hover{
		text-decoration: none;
		color: white;
		background: #4E4E4E;
	}

	#tag-squares .col-sm-4{
		padding-bottom: 10px;
	}

	.tag-title{
	    text-transform: uppercase;
	    font-weight: bold;
	    letter-spacing: 2px;
	    height: 100px;
	    border-bottom: 2px solid #4C9859;
	    margin-bottom: 12px;
	}

	.author{
		letter-spacing: 2px;
	}

	#tag-images{
		width: 100%;
		margin-bottom: 50px;
	}

	#tag-images .image{
		width: 24%;
		display: inline-block;
	}


/*HERO*/
#hero{
	background-image: url("../img/jack.jpg");
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: center center;  
}

#hero-text{
	max-width: 400px;
	width: 100%;
	padding:100px 20px;
	color:white;
	background-color: rgba(0, 0, 0, 0.45);
    text-shadow: 1px 1px black;
}

#hero h1{
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 3em;
}

#hero h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
}

#hero a{
	color: white;
    border: 2px solid white;
    padding: 5px 15px;
    transition: .2s;
}

#hero a:hover{
	color: black;
    border: 2px solid white;
    padding: 5px 15px;
    background: white;
    text-shadow: none;
    text-decoration: none;
}